
.produtos {
    margin-top: 30px;
}


body {
    font-family:  'Cormorant Garamond', serif;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

h5 {
    text-align: center;
}

.nav-link {
    color: #8B7B8B;
}


